#wrapper {
	height: 100%;
	width: 100%;
}
#map {
	height: 100%;
	width: 100%;
	float: left;
}
#weather {
	height: 260px;
	width: 170px;
	top: 20px;
	right: 20px;
	position: absolute;
	padding: 15px;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 8px;
	font-family: 'Muli', sans-serif;
	text-align: center;
}

#icon {
	height: 100px;
	width: 100px;
}
#details {
	font-family: 'Muli', sans-serif;
	font-size: 14px;
	line-height: 1.5;
}